<!DOCTYPE html>
<html>

<head>
    <title>Thermostat</title>
</head>

<body>
    <script src="jquery-3.2.1.js"></script>
    <h1 align="center"> Thermostat! </h1>
<section>
    <h1 id="temperature" align="center"></h1>
    <p align="center">
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <button id="temperature-reset">reset</button>
        power saving mode is <span id="power-saving-status">on</span>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
    </p>
    <script>
        $(document).ready(function(){
          var thermostat = new Thermostat();
          $('#temperature').text(thermostat.temp);

        $('#temperature-up').click(function() {
            thermostat.up();
            $('#temperature').text(thermostat.temp);
        });
        $('#temperature-down').click(function() {
            thermostat.down();
            $('#temperature').text(thermostat.temp);
        });
        $('#temperature-reset').click(function() {
            thermostat.reset();
            $('#temperature').text(thermostat.temp);
        });
        $('#powersaving-on').click(function() {
            thermostat.powerMode = true;
            $('#temperature').text(thermostat.temp);
            $('#power-saving-status').text('on')
        });
        $('#powersaving-off').click(function() {
            thermostat.powerMode = false;
            $('#temperature').text(thermostat.temp);
            $('#power-saving-status').text('off')
        });


      })

    </script>

</section>
</body>

</html>

<script src="../src/thermostat.js"></script>
